/*quick addon to spice it up please see other css for project goals goals*/
/* background*/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*end background*/

.tPhotos .tPhotos1 img {
	width:15%;
	padding:10px;
}
.tPhotos .tPhotos2 img {
	width:15%;
	padding:10px;
}
.tPhotos .tPhotos3 img {
	width:15%;
	padding:10px;
}
.tPhotos .tPhotos4 img {
	width:15%;
	padding:10px;
}
.tPhotos .tPhotos5 img {
	width:15%;
	padding:10px;
}


nav a {
	font-size: 35px;
	text-decoration: none;
	color: yellow;
  }

/*start type*/
html{
	min-height: 100%;
	/* overflow: hidden; */
  }
  body{
	height: calc(100vh - 8em);
	padding: 4em;
	color: black;
	font-family: 'Anonymous Pro', monospace;  
  }
  .line-1{
	  position: relative;
	  top: 50%;  
	  width: 24em;
	  margin: 0 auto;
	  border-right: 2px solid rgba(255,255,255,.75);
	  font-size: 180%;
	  text-align: center;
	  white-space: nowrap;
	  overflow: hidden;
	  transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
	animation: typewriter 4s steps(44) 1s 1 normal both,
			   blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
	from{width: 0;}
	to{width: 18em;}
  }
  @keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
  }
  /*end type*/